.features {
  position: relative;
  top: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 64px;
  flex-grow: 1;
}

.features .square1 {
  display: flex;
  flex-direction: column;
  width: 240px;
  height: 300px;
  background-color: white;
  font-size: 18px;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 32px;
  padding-right: 10px;
}

.features .square1 h2 {
  padding-top: 10px 0px 10px 12px;
  text-align: left;
}

.features .square1 p {
  text-align: left;
  padding-bottom: 10px;
}

.features .square1 .lets-try {
  width: 48%;
  align-items: flex-start;
  background-color: #00abf0;
  color: white;
  border-radius: 12px;
}

.features .circle1 {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: red; */
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #00abf0;
  margin: auto;
}

/* card2 */

.features .square2 {
  display: flex;
  flex-direction: column;
  width: 240px;
  height: 300px;
  background-color: white;
  font-size: 18px;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 32px;
  padding-right: 10px;
}

.features .square2 h2 {
  padding-top: 10px 0px 10px 12px;
  text-align: left;
}

.features .square2 p {
  text-align: left;
  padding-bottom: 10px;
}

.features .square2 button {
  width: 48%;
  align-items: flex-start;
  background-color: #00abf0;
  color: white;
  border-radius: 12px;
}

.features .circle2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #00abf0;
  margin: auto;
}

/* card3 */

.features .square3 {
  display: flex;
  flex-direction: column;
  width: 240px;
  height: 300px;
  background-color: white;
  font-size: 18px;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 32px;
  padding-right: 10px;
}

.features .square3 h2 {
  padding-top: 10px 0px 10px 12px;
  text-align: left;
}

.features .square3 p {
  text-align: left;
  padding-bottom: 10px;
}

.features .square3 button {
  width: 48%;
  align-items: flex-start;
  background-color: #00abf0;
  color: white;
  border-radius: 12px;
}

.features .circle3 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #00abf0;
  margin: auto;
}
